body {
    .about {
        width:100%;
        .info {
            color: green;
        }
    }
    .demo-images{
        width: 100px;
        height: 100px;
        background: url(../../assets/img/demo2.jpg);
    }
}

